/* You can add global styles to this file, and also import other style files */
@font-face{font-family: afont; src:url("./assets/fonts/ANGEL___.ttf")}
@font-face{font-family: bfont; src:url("./assets/fonts/DancingScript-Regular.otf")}
@font-face{font-family: cfont; src:url("./assets/fonts/GreatVibes-Regular.otf")}
@font-face{font-family: dfont; src:url("./assets/fonts/ImmensedecaY.ttf")}
@font-face{font-family: efont; src:url("./assets/fonts/Precious.ttf")}
@font-face{font-family: ffont; src:url("./assets/fonts/fofbb_ital.ttf")}